<div ng-controller = 'topicsController'>
	<h2>{{topic.name}} posted a topic</h2>
	<div class='col-md-offset-1'>
		<h3>{{topic.topic}}</h3>
		<p>{{topic.description}}</p>
	</div>
	<div class='row'>
		<h4>Post your answer here...</h4>
		<form role='form' class='col-md-9'>
			<input type='hidden' ng-value='newAnswer.name=user'>
			<input type='hidden' ng-value='newAnswer.topic_id=topic._id'>
			<textarea ng-model='newAnswer.answers' class='form-control'></textarea>
			<br>
			<button ng-click='createAnswer()' class='btn btn-primary'>Post</button>
		</form>
	</div>
	<div ng-repeat='answer in topic.answers' class='row'>
		<h5>{{answer.name}}: {{answer.answers}}</h5>
	</div>
</div>